
@media  (max-width:600px){
    ul li{
        display: none;
    }
    
    .btn-primary{
        display: none;
    }
    
    #icon-bar{
        display:block;
        margin-right: 60px;
    }
   
    .main .container{
        margin-top: -130px;
        width: 100%;
    }

   
    .main .container p{
        width: 100%;
    }

    .main .container h1{
    width: 100%;
    font-size: 36px;
    }
     
    .section-1 .container{
        margin-top: -50px;
    }


   .section-1 .container img{
    width: 100%;
   }

   
    .section-2{
        margin-top: -220px;
       }

     .section-2 h1{
        font-size:28px;
    }
      
    
    .section-2 p{
     padding-top: 20px;
     padding-left: 20px;
     line-height: 168%;
     width: 85%;
     color: var(--light-black-color);

    }

       .section-2-main-box{
        flex-direction: column;
        height: auto;
    }

    

    .main-box-box1{
        width: 100%;
    }

    .main-box-box1 .feature-box1{
        width: 90%;
        height: auto;
        margin-left: 20px;
    }

    .main-box-box1 .feature-box2{
        width: 90%;
        height: auto;
        margin-left: 20px;

    }

    .main-box-box1 .feature-box3{
        width: 90%;
        height: auto;
        margin-left: 20px;
    }


    .main-box-box2{
        margin-top: 10px;
        width: 100%;
        margin-left: 30px;
        height: auto;
    }
   
    .main-box-box2 img{
        height: auto;
        width: 80%;
    }

    .section-3{
        height: 900px;
       background-color: chartreuse;
    }
    
    .section-3 .section-3-box{
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 100px;
        margin-left:0px;
        background-color: coral;
    }

    .section-3-box h1{
        text-align: center;
        font-size: 28px;
    }

    
}


    
