
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter",sans-serif;
}

:root{
    --primary-color:#2b70c5;
    --secondary-color:#1566d6;
    --gray-color:#667085;
    
    --white-color:#fff;
    --light-black-color: #303236;
    --gap:20px;
    
}


button{
    padding: 1.1rem 1.1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border:none;
    cursor: pointer;
    border-radius: 30px;
}



/* Navbar  */

.navbar{
   position: fixed;
   top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(48, 50, 54, .2) ;
}

.navbar img{
    margin-left: 20px;
    height: 3rem;
    width: 8rem;
}


ul{
    display: flex;
    gap: var(--gap);
}

ul li{
    list-style-type: none;
}

i{
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}


ul li a{
    color:var(--gray-color) ;
    text-decoration: none;
}

.btn-primary{
    background-color: var(--secondary-color);
    color: var(--white-color);
    margin-right: 100px;
}


/* Navbar End */




/* Main */

.main{
  margin-top: 90px;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 100%;
}


.main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .container div{
   padding-bottom: 13px;
   font-size: 14px;
     color:var(--light-black-color);
}


.main .container span{
    color: #2b70c5;
}

.main .container  h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 104.627%

}

.main .container  p{
    width: 700px;
    padding-top: 25px;
    font-size: 18px;
    color: var(--light-black-color);
}

.btn-secondary{
    width: 220px;
    margin-top: 20px;
    background-color: var(--white-color);
    border: 1px solid rgba(48, 50, 54, .2);
}

.btn-secondary:hover{
     background-color: var(--primary-color);
     color: #fff;
  
}


/* Main End */



/* Section-1 */

.section-1{
    width: 100%;
    height: 60vh;
}

.section-1 .container{
    display: flex;
    justify-content: center;
}

.section-1 .container img{
    width: 92%;
}

/* section-1 End */

.section-2{
    margin-top: 100px;
  
    width: 100%;
    height: 130vh;
    text-align: center;
    
}


.section-2 h1{
    padding-top: 40px;
    font-size: 50px;
    color: #2b70c5;
}

.section-2 span{
    color: black;
}


.section-2 p{
 padding-top: 20px;
 padding-left: 200px;
 width: 85%;
 color: var(--light-black-color);

    
}

.section-2-box{
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.section-2 .section-2-box-left{
    margin-top: 70px;
    width: 35%;
    height: 400px;
    border-radius: 20px;
}

 .section-2-box-left .icon-part-1{
    margin-top: 20px;
    height: 170px;
    width: 500px;
    border-radius: 20px;
    background-color: rgba(43, 112, 197, .04);
    border: 1px solid rgba(21, 102, 214, .18);
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
 
}

.icon-part-1 div h5{
    font-size: 19px;
    font-weight: 400;
}


.icon-part-1 div div{
    color: var(--light-black-color);
    margin-top: 10px;
   
}



.icon-part-1 img{
    color: #2b70c5;
    font-size: 1.5rem;
    margin-right: 20px;
}

.icon-part-2{
    margin-top: 20px;
    height: 170px;
    width: 500px;
    border-radius: 20px;
    background: rgba(43, 112, 197, .04);
    border: 1px solid rgba(21, 102, 214, .18);
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
 
}

.icon-part-2 div h5{
    font-size: 19px;
    font-weight: 400;
}


.icon-part-2 div div{
    color: var(--light-black-color);
    margin-top: 10px;
   
}



.icon-part-2 img{
    color: #2b70c5;
    font-size: 1.5rem;
    margin-right: 20px;
}


.icon-part-3{
    margin-top: 20px;
    height: 170px;
    width: 500px;
    border-radius: 20px;
    background: rgba(43, 112, 197, .1);
    border: 1px solid rgba(21, 102, 214, .18);
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
 
}

.icon-part-3 div h5{
    font-size: 19px;
    font-weight: 400;
}


.icon-part-3 div div{
    color: var(--light-black-color);
    margin-top: 10px;
   
}



.icon-part-3 img{
    color: #2b70c5;
    font-size: 1.5rem;
    margin-right: 20px;
}



.section-2 .section-2-box-right{
    margin-top: 70px;
   
    width: 35%;
    height: 400px;
    border-radius: 20px;
}

.section-2-box-right img{
    height: 600px;
    width: 500px;
  
}

/* section-2  End */


/* section-3 */

.section-3{
    background: linear-gradient(0deg, rgba(43, 112, 197, 0.04) 0%, rgba(43, 112, 197, 0.04) 100%), #fff;
    height: 500px;
    width: 100%;
    position: relative;
    
   
}
.section-3 h1{
   font-size: 50px;
}

.section-3 span{
    color: var(--primary-color);
}


.section-3 .section-3-box{
    width: 80%;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    height: 300px;
}

.section-3-box  span{
    color: var(--primary-color);
}


 .section-3-box  p{
    padding-top: 30px;
    color:var(--light-black-color);
}
.section-3-box .section-3-box-top{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly; 
     align-items: center;
     margin-left: -150px;
}


.section-3-box-top span{
    color:  #2b70c5;
    font-weight: 600;
    font-size: 2.5rem;
}
.section-3-box-top div{
    color: var(--light-black-color);
}


/* section-3 End */

/*section-4   */

.section-4{
    
    margin-top: 30px;
    height: 130vh;
    width: 100%;
}

.section-4 h1{
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 50px;
}

.section-4 h1::after{
    content: "Serve";
    color: #2b70c5;
}



.section-4-box{
  position: relative;
  top: 100px;
    display: grid;
    justify-content: space-evenly;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    
}


.section-4-box-image-4{
    margin-top: -90px;
}

.section-4-box-image-6{
    margin-top: -65px;
}
/* section-4 End */

/* secxtion-5 */

.section-5{
    background-color: #667085;
    height: 400px;
    width: 100%;
}


/* section-5 End */



/* section-6 */
.section-6{
    margin-top: 40px;
    height: 500px;
    width: 100%;
    text-align: center;
}



.section-6 h1{
    padding-top: 30px;
    font-size: 50px;
    color: var(--light-black-color);
}

.section-6 p{
    padding-top: 20px;
    color: var(--light-black-color);
    font-size: 18px;
}

.section-6 .section-6-box{
    /* background-color: #2b70c5; */
    margin-top: 40px;
    height: 300px;
   
   
}

.section-6-box .section-6-box-top{
    display: flex;
    width: 75%;
    margin-left: 150px;
    justify-content: space-evenly;
    align-items: center;
}

.section-6-box .section-6-box-bottom{
    display: flex;
    width: 75%;
    margin-left: 150px;
    justify-content: space-evenly;
    align-items: center;
    
}

 .section-6-box-top div img{
    filter: grayscale(100);
    transition: all 0.3s linear;
   
}

.section-6-box-top div img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
    
}


 .section-6-box-bottom div img{
    filter: grayscale(100);
    transition: all 0.3s linear;
}

.section-6-box-bottom div img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}


/* section-6 End */


/* section-7 */
.section-7{
    height: 500px;
    width: 100%;
}

.section-7 h1{
    font-size: 50px;
    color: var(--light-black-color);
}

.section-7 .section-7-box{
    height: 300px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 130px;
}

.section-7-box div img{
    height: 100px;
    width: 160px;
    filter: grayscale(100);
}
/* section-7 End */


/* section-8  */
.section-8{
    height: 100vh;
    width:100%;
}

.section-8  .section-8-box{
    position: relative;
    display: flex;
    height: 600px;
    width: 90%;
    border: 0.6px solid  rgb(216, 199, 231);
    border-radius: 20px;
   top: 50px;
   left: 80px;
}
.section-8-box .section-8-box-left{
    height: 100%;
    width: 320px;
    background: #1566d6;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
}

.section-8-box-left div{
    position: relative;
    background: rgba(255, 255, 255, .2);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70px;
    left: 80px;
}

.section-8-box-left  h1{ 
    text-align: left;
    padding-top: 110px;
    color: #FFFFFF;
    padding-left: 60px;
}


.section-8-box-left  p{
    padding-top: 30px;
    color: #FFFFFF;
    width: 310px;
    text-align: left;
    padding-left: 60px;
   
}


.section-8-box-right{
    height: 500px;
    margin-left: 40px;
}

.section-8-box-right p {
  text-align: left;
 
  padding-top: 40px;
  font-size: 14px;
}
.section-8-box-right div{
    margin-top: 7px;
    
    display: grid;
    row-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

.section-8-box-right div div a{
    text-decoration: none;
    color: var(--light-black-color);
}
 .section-8-box-right div .class-1{
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 4px;
   
 }

 .section-8-box-right div .class-2{
    height: 30px;
    width: 250px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    display: flex;
    padding-left: 16px;
    padding-top: 4px;
    margin-left: -65px;
 }

 .section-8-box-right div .class-3{
    height: 30px;
    width: 160px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 4px;
    display: flex;
 }


 .section-8-box-right div .class-4{
    height: 30px;
    width: 170px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    margin-left: -10px;
    padding-left: 17px;
    padding-top: 4px;
    display: flex;
 }


 .section-8-box-right div .class-5{
    height: 30px;
    width: 160px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 4px;
    display: flex;
 }

 .section-8-box-right div .class-6{
    height: 30px;
    width: 150px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 4px;
    margin-left: 10px;
    display: flex;
 }
 
 
 .section-8-input-top div{
    margin-top: 60px;
    gap: 40px;
  
   
 }




 .section-8-input-top label{
    text-align: left;
    color: var(--light-black-color);
 }
 .section-8-input-top label input{
    margin-top: 7px;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
 }



 
 .section-8-input-bottom{
    margin-top: 60px;
    gap: 40px;
  
   
 }

 .section-8-input-bottom label{
    text-align: left;
    color: var(--light-black-color);
 }

 .section-8-input-bottom input{
    margin-top: 7px;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
 }
 
 .section-8-input-bottom div{
    margin-top: 30px;
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    width: 350px;
    border: 1px solid #ebebeb;
    border-radius: 7px;
    background-color: #FFFFFF;
 }

 .section-8-input-bottom div select{
    border: none;
 }
 .section-8-input-bottom div input{
    border: none;
    width: 200px;
    height: 40px;
   
 }
/* section-8 End */