
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter",sans-serif;
}

:root{
    --primary-color:#2b70c5;
    --secondary-color:#1566d6;
    --gray-color:#667085;
    
    --white-color:#fff;
    --light-black-color: #303236;
    --gap:20px;
    
}


button{
    padding: 1.1rem 1.1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border:none;
    cursor: pointer;
    border-radius: 30px;
}

/* 
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}  */


/* Navbar  */

.navbar{
   /* position: fixed;
   top: 0; */
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(48, 50, 54, .2) ;
}

.navbar img{
    margin-left: 20px;
    height: 3rem;
    width: 8rem;
}


ul{
    display: flex;
    gap: var(--gap);
}

ul li{
    list-style-type: none;
}

i{
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}


ul li a{
    color:var(--gray-color) ;
    text-decoration: none;
}

.btn-primary{
    background-color: var(--secondary-color);
    color: var(--white-color);
    margin-right: 100px;
}

#icon-bar{
    display: none;
    margin-right: 60px;
}
/* Navbar End */




/* Main */

.main{
  margin-top: 90px;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 100%;
}


.main .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .container div{
   padding-bottom: 13px;
   font-size: 14px;
     color:var(--light-black-color);
}


.main .container span{
    color: #2b70c5;
}

.main .container  h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 104.627%

}

.main .container  p{
    width: 700px;
    padding-top: 25px;
    font-size: 18px;
    color: var(--light-black-color);
}

.btn-secondary{
    width: 220px;
    margin-top: 20px;
    background-color: var(--white-color);
    border: 1px solid rgba(48, 50, 54, .2);
}

.btn-secondary:hover{
     background-color: var(--primary-color);
     color: #fff;
  
}


/* Main End */



/* Section-1 */

.section-1{
    width: 100%;
    height: 60vh;
}

.section-1 .container{
    display: flex;
    justify-content: center;
}

.section-1 .container img{
    width: 92%;
}

/* section-1 End */


/* section-2 */
.section-2{
    position: relative;
    height: 130wh;
    width: 100%;
}

.section-2 h1{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: #2b70c5;
}

.section-2 span{
    color: black;
}


.section-2 p{
  text-align: center;
   padding-top: 20px;
   padding-left: 200px;
   line-height: 168%;
   width: 85%;
   color: var(--light-black-color);
}

.section-2-main-box{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.main-box-box1 .feature-box1{ 
    margin-top: 20px;
    padding-top: 20px;
    margin-top: 20px;
    height: 170px;
    width: 450px;
    border-radius: 20px;
    background-color: rgba(43, 112, 197, .04);
    border: 1px solid rgba(21, 102, 214, .18);

}

.feature-box1 h5{
    padding-top: 20px;
    padding-left:100px;
    font-weight: 600;
    font-size: 18px;
}
.feature-box1 div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.feature-box1 div img{
    padding-left: 30px;
}
.feature-box1 p{
    /* width: 70%; */
    padding-left: 30px;
    text-align: left;
}
.main-box-box1 .feature-box2{ 
    margin-top: 20px;
    padding-top: 20px;
    margin-top: 20px;
    height: 170px;
    width: 450px;
    border-radius: 20px;
    background-color: rgba(43, 112, 197, .04);
    border: 1px solid rgba(21, 102, 214, .18);

}

.feature-box2 h5{
    padding-top: 20px;
    padding-left:100px;
    font-weight: 600;
    font-size: 18px;
}
.feature-box2 div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.feature-box2 div img{
    padding-left: 30px;
}
.feature-box2 p{
    /* width: 70%; */
    padding-left: 30px;
    text-align: left;
}
.main-box-box1 .feature-box3{ 
    margin-top: 20px;
    padding-top: 20px;
    margin-top: 20px;
    height: 170px;
    width: 450px;
    border-radius: 20px;
    background-color: rgba(43, 112, 197, .04);
    border: 1px solid rgba(21, 102, 214, .18);

}

.feature-box3 h5{
    padding-top: 20px;
    padding-left:100px;
    font-weight: 600;
    font-size: 18px;
}
.feature-box3 div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.feature-box3 div img{
    padding-left: 30px;
}
.feature-box3 p{
    /* width: 70%; */
    padding-left: 30px;
   
    text-align: left;
}

.main-box-box2 {
    height: 500px;
    width: 500px;
    margin-left: 40px;
  
 }
.main-box-box2 img{
    height: 550px;
    width: 550px;
    margin-top: 40px;
}

.container-2{
    margin-top: 40px;
    background-color: rgb(39, 101, 196);
    height: 400px;
    width: 100%;
}
/* section-2  End */


/* section-3 */

.section-3{
    background: linear-gradient(0deg, rgba(43, 112, 197, 0.04) 0%, rgba(43, 112, 197, 0.04) 100%), #fff;
    height: 550px;
    width: 100%;
    position: relative;
    margin-top: 80px;
    
   
}

.section-3 .section-3-box{
    width: 80%;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    height: 300px;
}

.section-3-box  span{
    color: var(--primary-color);
}


 .section-3-box .jarvis-para1{
    padding-top: 30px;
    color:var(--light-black-color);
}

.section-3-box .jarvis-para2{
    color:var(--light-black-color);
}


.section-3-box .section-3-box-top{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly; 
     align-items: center;
     margin-left: -150px;
}


.section-3-box-top span{
    color:  #2b70c5;
    font-weight: 600;
    font-size: 2.5rem;
}
.section-3-box-top div{
    color: var(--light-black-color);
}


/* section-3 End */

/*section-4   */

.section-4{
    
    margin-top: 30px;
    height: 130vh;
    width: 100%;
}

.section-4 h1{
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 50px;
}

.section-4 h1::after{
    content: "Serve";
    color: #2b70c5;
}



.section-4-box{
  position: relative;
  top: 70px;
    display: grid;
    justify-content: space-evenly;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-left: 30px;
    
}

.section-4-box div{
    height: auto;
    width: 450px;
    /* background-color: #667085;
    border: 2px solid yellow; */
}





.section-4-box-image-4{
    margin-top: -90px;
}

.section-4-box-image-6{
    margin-top: -65px;
}
/* section-4 End */

/* secxtion-5 */

.section-5{
    background-color: #667085;
    height: 400px;
    width: 100%;
}


/* section-5 End */



/* section-6 */
.section-6{
    margin-top: 40px;
    height: 500px;
    width: 100%;
    text-align: center;
}



.section-6 h1{
    padding-top: 30px;
    font-size: 50px;
    color: var(--light-black-color);
}

.section-6 p{
    padding-top: 20px;
    color: var(--light-black-color);
    font-size: 18px;
}

.section-6 .section-6-box{
    /* background-color: #2b70c5; */
    margin-top: 40px;
    height: 300px;
   
   
}

.section-6-box .section-6-box-top{
    display: flex;
    width: 75%;
    height: auto;
    margin-left: 150px;
    justify-content: space-evenly;
    align-items: center;
}

.section-6-box .section-6-box-bottom{
    display: flex;
    width: 75%;
    height: auto;
    margin-left: 150px;
    justify-content: space-evenly;
    align-items: center;
    
}

 .section-6-box-top div img{
    filter: grayscale(100);
    transition: all 0.3s linear;
   
}

.section-6-box-top div img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
    
}


 .section-6-box-bottom div img{
    filter: grayscale(100);
    transition: all 0.3s linear;
}

.section-6-box-bottom div img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}


/* section-6 End */


/* section-7 */
.section-7{
    height: 500px;
    width: 100%;
}

.section-7 h1{
    text-align: center;
    font-size: 50px;
    color: var(--light-black-color);
}

.section-7 .section-7-box{
    height: 300px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 130px;
}

.section-7-box div img{
   
    width: 170px;
    filter: grayscale(100);
}
/* section-7 End */


/* section-8  */
.section-8{
    height: 110vh;
    width:100%;
}

.section-8  .section-8-box{
    /* position: relative; */
    display: flex;
    height: auto;
    width: 90%;
    border: 0.6px solid  rgb(216, 199, 231);
    border-radius: 20px;
  
}
.section-8-box .section-8-box-left{
    height: 650px;
    width: 320px;
    background: #1566d6;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
}

.section-8-box-left div{
    background: rgba(255, 255, 255, .2);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:70px; ;
    margin-left: 50px;
}

.section-8-box-left  h1{ 
    text-align: left;
    font-size: 50px;
    padding-top: 50px;
    color: #FFFFFF;
    padding-left: 40px;

}


.section-8-box-left  p{
    padding-top: 30px;
    color: #FFFFFF;
    width: 310px;
    text-align: left;
    padding-left: 60px;
   
}


.section-8-box-right{
    height: auto;
    margin-left: 40px;

}

.section-8-box-right p {
  text-align: left;
 
  padding-top: 40px;
  font-size: 14px;
}
.section-8-box-right div{
    margin-top: 7px;
    
    display: grid;
    row-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

.section-8-box-right div div a{
    text-decoration: none;
    color: var(--light-black-color);
}
 .section-8-box-right div .class-1{
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 4px;
   
 }

 .section-8-box-right div .class-2{
    height: 30px;
    width: 250px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    display: flex;
    padding-left: 16px;
    padding-top: 4px;
    margin-left: -65px;
 }

 .section-8-box-right div .class-3{
    height: 30px;
    width: 160px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 4px;
    display: flex;
 }


 .section-8-box-right div .class-4{
    height: 30px;
    width: 170px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    margin-left: -10px;
    padding-left: 17px;
    padding-top: 4px;
    display: flex;
 }


 .section-8-box-right div .class-5{
    height: 30px;
    width: 160px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 4px;
    display: flex;
 }

 .section-8-box-right div .class-6{
    height: 30px;
    width: 150px;
    border: 1px solid rgba(48, 50, 54, .2);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 4px;
    margin-left: 10px;
    display: flex;
 }
 
 
 .section-8-input-top div{
    margin-top: 60px;
    gap: 40px;
  
   
 }




 .section-8-input-top label{
    text-align: left;
    color: var(--light-black-color);
 }
 .section-8-input-top label input{
    margin-top: 7px;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
 }



 
 .section-8-input-bottom{
    margin-top: 60px;
    gap: 40px;
    
  
   
 }

 .section-8-input-bottom label{
    text-align: left;
    color: var(--light-black-color);
 }

 .section-8-input-bottom input{
    margin-top: 7px;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
 }
 
 .section-8-input-bottom div{
    margin-top: 30px;
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    width: 350px;
    border: 1px solid #ebebeb;
    border-radius: 7px;
    background-color: #FFFFFF;
 }

 .section-8-input-bottom div select{
    border: none;
 }
 .section-8-input-bottom div input{
    border: none;
    width: 200px;
    height: 40px;
   
 }

 #comment-area{
    text-align: left;

 }

 #comment-area label{
    color: var(--light-black-color);
 }


 #comment-area textarea{
    width: 730px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ebebeb;

 }

 #comment-area textarea::placeholder{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 16px;
 }



 .start-button{
    width: 86%;
    font-family:"Lato",sans-serif;
    font-size: 18px;
    background: #1566d6;
    border-color: #1566d6;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 20px;
 
 }
/* section-8 End */


/* section-9 */

.footer{
    background: linear-gradient(0deg, rgba(21, 102, 214, 0.04) 0%, rgba(21, 102, 214, 0.04) 100%), #fff;
    height: 400px;
    width: 100%;
}


.footer-AI {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    border-bottom: 1px solid #ebebeb;;
}
.footer-AI div{
    margin-left: 30px;
}
.footer-AI .footer-para{
   width: 30%;
   font-size: 20px;
}

.footer-container{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(0deg, rgba(21, 102, 214, 0.04) 0%, rgba(21, 102, 214, 0.04) 100%), #fff;
  

}

 .footer-container-para1  {
    margin-top: 30px;
}
.footer-container-para1 h4{
    font-weight:600;
   
}


.footer-container-para1 div {
    margin-top: 10px;
    color: #626b7f;
}

.footer-container-para2 {
    margin-top: 30px;
}

.footer-container-para2 h4{
    font-weight:600;
   
}



.footer-container-para2 div {
    margin-top: 10px;
    color: #626b7f;
}
    

.footer-container-para3 {
    margin-top: 30px;
   
    width: 430px;
    height:auto;
}

.footer-container-para3 h4{
    font-weight:600;
   
}

.footer-container-para3 div {
    margin-top: 10px;
    color: #626b7f;
}


.footer-member{
    background: linear-gradient(0deg, rgba(21, 102, 214, 0.04) 0%, rgba(21, 102, 214, 0.04) 100%), #fff;
    height: 200px;
    width: 100%;
}
.footer-bsal-section{
    display: flex;
    justify-content: space-between;
}
 
.footer-bsal-section div div{
    margin-left: 30px;
}


.member-para{
    margin-right: 30px;
}
.bsal-member{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100px;
   
}



.bsal-member h4{
    font-size: 20px;
}
.bsal-member2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px;
    width: 230px;
}

.bsal-member2 h4{
    font-size: 20px;
}

.footer-consultant{
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(21, 102, 214, 0.12) 0%, rgba(21, 102, 214, 0.12) 100%), #fff;
}

.Consultants-para{
    margin-left: 30px;
    color: #676e76;
}

.Consultants-para2{
    margin-right:30px;
    color: #676e76;
}










/* section-9 End */

/* Media Query */

     



